*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

body{
    background: linear-gradient(to right, black , #2c2a2a);
    height: 100%;
    
    
    
    


}





.container{
  
  height: 100%;  
  max-width: 550px ;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  color: #fff;
  
 

}

.font{

    color: black;
   
    
}

a{
    text-decoration: none;
    color: #fff;

}
.degrade{
    background-color: #fff;
    transition: .2s;
    padding: 15px;
    transition: .2s;
    border-radius: 8px;
    
   
    
}




header{
  text-align: center; 
  margin-bottom: 40px; 
}

header img{
    max-width: 150px;
    margin-bottom: 20px;
    border: none;
    border-radius:100%;
    
    
    

}

header h1{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 300;
}

section.botoes-links{
    
    display: flex;
    flex-direction: column;
    gap:20px;
    color: black;
    
    
   
   
    
   
}

a.link button{
    
    width: 100%;
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: .2s;
    color: black;
    text-decoration: none;

   

    

}





a.link button:hover, footer a.cabecalho:hover{
    transform: scale(1.05);
    color: #fff;
    box-shadow: #2c2a2a;
    background-color: #6f6161;
}

footer{
    text-align: center;
    margin: 10px;

}

footer a.cabecalho{
    width: 65px;
    height: 65px;
    display: inline-block;
    font-size: 25px;
    line-height: 60px;
    border-radius: 50%;
    margin: 5px;
    margin-top: 1px;
    transition: .2s;
    background: #fff;
    background: linear-gradient(to right, rgb(42, 40, 40) , rgb(40, 39, 39), black);
   


}

